# Keystore files - NEVER commit these!
*.keystore
*.jks
keystore.properties

# Android Studio
.gradle
.idea
local.properties
*.iml
*.DS_Store
captures/
.externalNativeBuild
.cxx

# Build outputs
build/
app/build/
